@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #252B42;
  background: #FAFAFA;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1046px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  color: #252B42;
  letter-spacing: 0.2px;
}

.header-block__sub-title {
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 142.8%;
}

.header-block__title:not(last-child) {
  margin: 0px 0px 10px 0px;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header_menu {
  margin: 0px 0px 0px 133px;
}

.menu {
  padding: 5px 0px;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu_item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu_link {
  font-weight: 600;
  color: #737373;
  line-height: 171%;
}

@media (max-width: 992px) {
  .header_menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header_menu {
    margin: 0px 0px 0px 50px;
  }
}
@media (max-width: 479px) {
  .header_menu {
    margin: 0px 0px 0px 20px;
    font-size: 18px;
  }
  .header_container {
    min-height: 70px;
  }
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
  .main-block__img img {
    opacity: 0.5;
  }
}
@media (min-width: 479px) {
  .main-block__body > *:not(:last-child) {
    margin-bottom: 35px;
  }
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 35px;
}

@media (max-width: 479px) {
  .main-block__text {
    color: #494949;
  }
}
.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0px;
}

.main-block__button {
  border-radius: 37px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 36px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.2px;
  margin: 10px 0px;
}

@media (max-width: 479px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(last-child) {
    margin-right: 10px;
  }
}
.main-block__button__orange {
  background: #FF7B47;
  color: #fff;
}

.main-block__button__border {
  color: #0D5C63;
  border: 1px solid #0D5C63;
}

.main-block__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

@media (max-width: 1300px) {
  .main-block__img img {
    -o-object-position: right;
       object-position: right;
  }
}
.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.services__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 992px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 594px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 594px) {
  .services__item {
    margin: 0px auto;
    padding: 20px 40px;
  }
}
.services__item {
  height: 100%;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #FFFFFF;
}

.item-service__green {
  background: #0D5C63;
}

.item-service__green .item-service__title {
  color: #FFFFFF;
}
.item-service__green .item-service__text {
  color: #FFFFFF;
}

.services__item > *:not(last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #252B42;
  letter-spacing: 0.1px;
}

.item-service__text {
  color: #737373;
  font-weight: 500;
  line-height: 142.8%;
  letter-spacing: 0.2px;
}

.advantagest {
  padding: 80px 0px;
}

.advantagest__header {
  margin: 0px 0px 50px 0px;
}

.advantagest__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantagest__column {
  padding: 0px 15px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .advantagest__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 594px) {
  .advantagest__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.advantagest__item {
  background: #ffffff;
  text-align: center;
  padding: 30px;
}

.advantagest__item > *:not(last-child) {
  margin: 0px 0px 10px 0px;
}

.advantagest__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantagest__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  color: #252B42;
  letter-spacing: 0.2px;
}

.advantagest__text {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 150%;
  color: #737373;
}

.practice {
  padding: 125px 0px 80px 0px;
}

.practice__header {
  margin: 0px 0px 45px 0px;
}

.practice__body {
  margin: 0px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 594px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.item-practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: #FFFFFF;
}

.item-practice__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-practice__text {
  line-height: 142.8%;
  color: #737373;
  letter-spacing: 0.2px;
}

.item-practice__img {
  display: block;
  padding: 0px 0px 60% 0px;
}